<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Badr Al-Islam</title>
        <link rel="icon" href="/fav.png" />
        <link rel="stylesheet" href="/home.css" />
    </head>
    <body>
        <a href="/" style="text-decoration: none">
            <header>
                <a href="/" class="logo"><img src="/logo.jpg" alt="" /></a>
                <h1>Badr Al-Islam Languages School</h1>
            </header>
        </a>
        <div class="main">
            <div>
                <h2>
                    Badr Al-Islam School<br /><span
                        >Exams results are available now</span
                    >
                </h2>
                <h3>Private Language School</h3>
                <a href="/search" class="main-btn">get your grades</a>
            </div>
        </div>
        <footer>
            <p>
                &copy; 2023 Badr Al-Islam Languages School. All rights reserved.
            </p>
        </footer>
    </body>
</html>
